# Assets
/web/bundles/

# Dependencies
/vendor/
/composer.lock
/composer.phar

# Temporary directories
/app/cache/*
/app/logs/*

# Build files
/app/bootstrap.php.cache

# Configuration files
app/config/parameters.yml
